body { 
    font-family: Inter, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 { 
    color: green; 
    margin-bottom: 20px;
    font-size: 2.5em;
    padding-top: 20px;
}

#print { 
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    transition: opacity 1s;
}

.board { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.row { 
    display: flex; 
} 

.cell { 
    border: 2px solid #333; 
    width: 150px; 
    height: 150px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 100px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
}   

.cell:hover {
    background-color: #f9f9f9;
}

.cell:active { 
    outline: none; 
    background-color: #e0e0e0;
    transform: scale(1.1);
} 

.win-cell-x {
    animation: colorChangeX 1s infinite alternate;
}

.win-cell-o {
    animation: colorChangeO 1s infinite alternate;
}

@keyframes colorChangeX {
    from {
        color: red;
    }
    to {
        color: darkred;
    }
}

@keyframes colorChangeO {
    from {
        color: blue;
    }
    to {
        color: darkblue;
    }
}

.clear {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear:hover {
    background-color: darkgreen;
} 

#leaderboard {
    margin-top: 20px;
    text-align: left;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#leaderboard h2 {
    color: green;
    margin-top: 0;
}

#leaderboard p {
    margin: 5px 0;
    font-size: 14px;
}